.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: rgba(0,0,0, 0.5);
	z-index:+1;

  }
  .popup_inner {
	position: absolute;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
	margin: auto;
	border-radius: 20px;
	background: white;
  }