.screenFull {
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
}
.full-height {
  height: 100%;
}

html, body {
    min-height: 100%;
    height: 100%;
  }
  html {
    font-size: 16px;
  }
  body {
    position: relative;
    font-size: 100%;
  }
  .gallery-container {
    padding-top: 10px;
  }
  .gallery-card {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
  } 
  .gallery-thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  .card-icon-open {
    display: block;
    position: relative;
    left: 50%;
    font-size: 30px;
    width: 30px;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    transform: translate(0%, -400%);
    transition: all 0.25s ease-in-out;
  }
  .card-icon-open:focus, .card-icon-open:hover {
    color: #111;
  }
  .gallery-thumbnail:focus ~ .card-icon-open, .gallery-thumbnail:hover ~ .card-icon-open, .gallery-thumbnail ~ .card-icon-open:focus, .gallery-thumbnail ~ .card-icon-open:hover {
    opacity: 1;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(21, 21, 21, .75);
  }
.button {
  font-size: 50px;
  color:#eee;
  margin:5px;
}
  .modal-body {
    position: relative;
    top: 4%;
    left: 10%;
    z-index: 11;
    padding: 0;
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .modal-close {
    font-size: 44px;
    position: relative;
    z-index: 99;
    color: #eee;
    transition: all 0.25s ease-in-out;
  }

  .modal-close:focus, .modal-close:hover {
    color: red;
  }
 .fullscreen {
  position: relative;
  text-decoration: none;
  font-size: 25px;
  color:#eee;
  z-index: 999;
 }
.fullscreen:hover, .fullscreen:focus,.fullscreen:blur
{
  text-decoration: none;
  color:red;
}