.graph{
    border-color: brown;
    border-style: solid;
    width:50%;
    height:600px;
}

.LineChart{
    width:100%;
    height:100%;
    padding-bottom: 95px;
}

.PieChart{
    float: right;
    width: 100%;
    height: 100%;
    padding-bottom: 90px;
}

.BarChart{
    float: left;
    width: 100%;
    height: 100%;
    padding-bottom: 90px;
}

.align2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 1550px) {
    .align2 {
        display: flex;
        flex-direction: column;
    }      
}
