.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.GraphContainer{
  width: 100%;
  height:500px;
}

.SelectDate{
  padding:10px;
}

.DateSelector{
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-flow: row; 
}

.DateSelector p{
  padding:10px
}

.dropdown {
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.dropdownsize{
  width: 20%;
}

.inputs {
  margin: 5px 0;
  padding: 10px;
  border: 2px solid #000;
}

.container{
  display:flex;
  flex-direction: row;
}